@import "./utility/styles.css"; 
@import "./2048/styles.css";

body {
  margin-top: -30px;
  color: #666;
}

h2 {
  font-size: 30px;
}

h2,
h3 {
  color: #694F5D;
  margin: 10px 0;
}

button {
  color: #68A691;
  border: solid 2px #68A691;
  background-color: transparent;
  font-weight: bold;
  border-radius: 10px;
  font-size: 30px;
  cursor: pointer;
  transition: all ease 0.3s;
}

button:hover {
  color: #BFD3C1;
  border-color: #BFD3C1;
}

button.red {
  color: #694F5D;
  border: solid 2px #694F5D;
}

button.red:hover {
  color: #EFC7C2;
  border: solid 2px #EFC7C2;
}
